html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    background-image: url('https://vignette.wikia.nocookie.net/board-games-galore/images/5/50/Wiki-background/revision/latest?cb=20160714130050');
    height: 100%;
    align-content: center;
}

.card{
    height: auto;
    margin: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: azure !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    text-align:center;
    color: black;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

/*input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}*/

.remember{
    color: white;
}
.btn-space{
    margin-top:30px;
}
/*
.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}*/

.login_btn{
    color: black;
    background-color: #FFC312;
    width:100%;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

