<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  href="../css/headerfooter.css" th:href="@{/css/headerfooter.css}"/>

    <title>Games</title>
</head>
<body>

<div th:replace="fragments/header.html :: gaminzoHeader"></div>
<div class="container">
    <div class="row">

            <div class="col-sm-4" th:each="product:${productLst}">
                <div class="card bg-light mb-3" style="max-width: 25rem;max-height: 30rem;">
                    <img class="card-img-top" th:src=${product.getImageUrl()} alt="Card image" style="max-width: 20rem;max-height: 15rem;
                        min-width: 14rem;min-height: 14rem;">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-sm">
                                    <h6 class="card-title" th:text=${product.getName()}></h6>
                                 </div>

                           <div class="col-sm float-right">

                                 <span class="card-text"  th:text=&#8377></span>
                                 <span class="card-text" th:text="${product.getPrice()}"></span></div>
                            </div>
                            <div>
                                <text class="card-text" th:text="${#strings.abbreviate(product.getDescription(),50)}"></text>
                                <a href="#" data-toggle="popover"  th:data-content="${product.getDescription()}" data-trigger="focus">more</a>
                            </div>
                                <a th:with="id=${product.getId()}" th:href="@{${'/gaminzo/cart/addtocart/' + id}}"  class="card-link float-right">Add to Cart

<!--                                    <a th:with="id=${order.id}" th:href="@{${'/orderdetails/' + id}}" th:text="${id}">-->

                                </a>
                        </div>
                </div>
        </div>
    </div>
</div>
<div th:replace="fragments/header.html :: gaminzoFooter" ></div>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>

</body>
</html>